@model CalculoImc
@{
    ViewData["Title"] = "Operadores Matemáticos";
}

<section class="bg-dark text-white text-center py-3">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="text-uppercase mb-3">Operadores Matemáticos</h1>
        <p class="font-weight-light fs-2">Cálculo  Imc</p>
    </div>
</section>

<div class="container mt-4">
    <div class="row justify-content-md-center">
        <form method="post" class="col-lg-8 col-md-12">
            <p class="mb-4">
                Analisando a fórmula "Peso / (Altura * Altura)", crie um algoritmo para efetuar
                o cálculo do Índice de Massa Corporal de uma Pessoa. (Você deverá ler o Peso, a Altura
                da pesssoa.
            </p>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="Peso" class="form-label"></label>
                    <input asp-for="Peso" class="form-control">
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Altura" class="form-label"></label>
                    <input asp-for="Altura" class="form-control">
                    <span asp-validation-for="Altura" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="Imc" class="form-label"></label>
                    <input asp-for="Imc" class="form-control" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}